*{box-sizing: border-box;}

html {
    margin: 0px;
    min-height: 100vh;
}

body {
    margin:100px;
    background: #000000;
    font-family: sans-serif;
    justify-content: center;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
    color: rgba(250,105,0, 1.0);
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: rgba(250,105,0, 1.0);
    margin-bottom: 10px;
}

a {
    font-size: 30px;
    color: rgba(255,255,255, 0.7);
    text-decoration: none;
}

a:hover {
    color: rgba(255,255,255, 1.0);
}

a:active {
    color: rgba(250,105,0, 1.0);
}

p {
    font-size: 20px;
    color: rgba(255,255,255, 0.7);
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 30px;
}