* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Helvetica, Arial;
  font-size: 3vmin;
}

.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(4.0em) opacity(0.4);
  position: absolute;
}

.content {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.track-container {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  width: 80%;
  z-index: 1;
}

.track-artwork {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 45%;
}

.track-artwork--image {
  max-width: 80vmin;
  width: 100%;
}

.track-info {
  margin-left: 5%;
  width: 45%;
}

.track-info--title {
  opacity: 0.8;
  font-size: 1.4em;
  margin-bottom: 0.2em;
}

.track-info--artist {
  opacity: 0.4;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 0.2em;
}

.track-info--album {
  opacity: 0.6;
  font-weight: 200;
  margin-bottom: 1.0em;
}
